# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

In [2]:
import numpy as np

## imports for Python, Pandas

In [3]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [5]:
# use normalization to create tables from nested element
#json_normalize(data, 'counties')

In [6]:
# further populate tables created from nested element
#json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [7]:
# load json as string
#json.load((open('data/world_bank_projects_less.json')))

In [8]:
# load as Pandas dataframe
#sample_json_df = pd.read_json('data/world_bank_projects_less.json')
#sample_json_df

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## Solutions

### Load data File

In [9]:
# Load the world_bank_projects file
json_df = pd.read_json('data/world_bank_projects.json')

In [10]:
#json_df.head(2)

In [11]:
#json_df.info()

In [12]:
#len(json_df['countryshortname'].unique())

####  Summary
1. There are total 500 projects across 118 countries

### Question 1. Find the 10 countries with most projects

** Finding the frequency of values is a very common task in data science. **

** we can use value_counts **

In [13]:
json_df['countryshortname'].value_counts().head(10)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Bangladesh            12
Nepal                 12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

** We can also use grouby to calculate the most projects. **

In [14]:
json_df.groupby('countryshortname')['_id'].count().sort_values(ascending=False).head(10)

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
Name: _id, dtype: int64

In [15]:
# to double check the above query sums up to total 500 projects.
#json_df.groupby('countryshortname')['_id'].count().sum()

### Question 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

** Understand the values in mjtheme_namecode **

In [16]:
#json_df['mjtheme_namecode'].head(5)

** mjtheme_namecode has list of dict, very similar to the reference example above. **
1. Load the json as string 
2. Use json normalize to get the dataframe of mjtheme_namecode

In [17]:
# Load json as string
json_str = json.load((open('data/world_bank_projects.json')))

In [18]:
proj_theme = json_normalize(json_str, 'mjtheme_namecode')

In [19]:
#proj_theme.head()

** Again using the value_counts or groupby we can get the most project themes **

In [20]:
proj_theme['name'].value_counts()

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

** Using Project name group by has a problem. It has null value and null value comes one of the top 10 (null - 122) **

In [21]:
proj_theme['code'].value_counts()

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
3      15
Name: code, dtype: int64

** Using Project code removes null but we miss the project name. It will be cool to combine **

### Create a Lookup Dataframe with unique project code and name

In [22]:
proj_code_name_lookup = proj_theme.groupby(['code', 'name']).count()

In [23]:
proj_code_name_lookup = proj_code_name_lookup.reset_index()

In [24]:
#proj_code_name_lookup.head()

In [25]:
#Changing Empty String to Nan to handle missing values
proj_code_name_lookup = proj_code_name_lookup.replace(r'^\s*$', np.nan, regex=True)

In [26]:
#proj_code_name_lookup.head()

In [27]:
proj_code_name_lookup  = proj_code_name_lookup.dropna(how='any', axis=0)

In [28]:
#proj_code_name_lookup

###  Back to Question 2: Find the top 10 major project themes (using column 'mjtheme_namecode')

In [29]:
proj_theme_df = proj_theme.groupby(['code']).count()

In [30]:
proj_theme_df = proj_theme_df.rename(columns={"name":"no_of_occ"}).reset_index()

In [31]:
#proj_theme_df

In [32]:
pd.merge(proj_code_name_lookup,proj_theme_df,on='code').sort_values('no_of_occ', ascending=False)

   code                                          name  no_of_occ
2    11  Environment and natural resources management        250
1    10                             Rural development        216
9     8                             Human development        210
3     2                      Public sector governance        199
7     6         Social protection and risk management        168
5     4      Financial and private sector development        146
8     7                   Social dev/gender/inclusion        130
6     5                         Trade and integration         77
10    9                             Urban development         50
0     1                           Economic management         38
4     3                                   Rule of law         15

### Question 3: In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

** Unique project code and name lookup dataframe can help us solve this question **

In [33]:
proj_code_name_dict = proj_code_name_lookup.set_index('code').to_dict()['name']

In [34]:
proj_theme = proj_theme.replace(r'^\s*$', np.nan, regex=True)

In [35]:
#proj_theme.head()

In [36]:
proj_theme.name = proj_theme.name.fillna(proj_theme.code.map(proj_code_name_lookup.set_index('code').to_dict()['name']))

In [37]:
proj_theme

     code                                          name
0       8                             Human development
1      11  Environment and natural resources management
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6         Social protection and risk management
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8                             Human development
18     10                             Rural development
19      7                   Social dev/gender/inclusion
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2                      Public sector governance
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4      Financial and private sector development
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11  Environment and natural resources management
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5                         Trade and integration
1482    6         Social protection and risk management
1483    8                             Human development
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6         Social protection and risk management
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]